:root {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;

  color-scheme: light;
  color: #040316;
  background-color: #fdfdfd;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
